body {
    background-color: #232323;
}

.square {
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
}

span {
    color: white;
}